<div style="margin:10px">
  <b><%= "Change #{@current_user.user_name}'s password" %></b>
  <%= form_tag("/sessions/update_password", :method => "put") do %>
    <div>
      <%= label_tag :curr, "Current Password" %>
      <%= password_field_tag :curr %>
    </div>
    <hr>
    <div>
      <%= label_tag :curr, "New Password" %>
      <%= password_field_tag :new %>
    </div>
    <div>
      <%= label_tag :curr, "Confirm New Password" %>
      <%= password_field_tag :conf_new %>
    </div>
    <%= hidden_field_tag :id, @current_user.id %>
    <%= submit_tag %>
  <% end %>
</div>
