<h2>Search Results for: <%= params[:search] %></h2>
<h4><%= @results.length%> results:</h4>
  <style type="text/css">
    p {margin:0px;line-height:20px;font-size:.7em}
    a {font-size:.9em}
    table {text-align:left}
    tr {line-height: 40px; }
    th {text-decoration: underline}
  </style>


  <table id="results">
    <thead>
      <tr>
        <th style="width:15%">Object</th>
        <th style="width:25%">Name</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |result|%>
      <tr>
        <td><strong><%= result[:type]%></strong> </td>
        <td><a href= "/<%=result[:type].downcase%>s/<%=result[:id]%>" ><strong> <%= result[:name].gsub(Regexp.new(params[:search],"i"), "<mark>#{params[:search]}</mark>").html_safe %></a></td>

        <% if result[:type] == "User" %>
          <td><p><strong>Bio: </strong><%= User.find(result[:id]).bio.gsub(Regexp.new(params[:search],"i")){|r| "<mark>#{r}</mark>"}.html_safe%></p></td>
        <% elsif result[:type] == "Group" %>
          <td><p style="width:500px"><strong>Description: </strong><%= Group.find(result[:id]).description.gsub(Regexp.new(params[:search],"i")){|r| "<mark>#{r}</mark>"}.html_safe%></p></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#results').dataTable();
  } );
</script>
