<h1><%= @group.name.capitalize%></h1>
  <% if @group.pending_member? current_user %>
    <div style="text-align:center;border:1px solid black;">
      Membership is waiting review by group admin
    </div>
  <% elsif !@group.is_member?(current_user) %>
    <div style="text-align:center;border:1px solid black;">
      <%=button_to "Request to join #{@group.name.capitalize}", "/group_memberships?user_id=#{current_user.id}&group_id=#{@group.id}", :method => :post %>
    </div>
  <%end %>
<div style="border:1px solid black;">
  <u><p style="text-align:center;">COSC 612 Message Board</p></u>
  <hr style="margin:5px;border-color:black">
  <div style="overflow-y:scroll;height:90px">
    <ul style="font-size:.7em;">
      <% @group_messages.each do |message| %>
        <li style="line-height:15px"><%=message.message + " at " + message.updated_at %></li>
      <% end %>
    </ul>
  </div>
</div>





<div style="border:1px solid black;float:left;margin:5px;width:70%">
  <div style="float:left;margin:5px">
    <h3>About <%= @group.name.capitalize%></h3>
    <p>
      <%= @group.description %>
    </p>
    <hr style="border-color:black">
    
  </div>
</div>

<div id="sidebar" style="border:1px solid black;text-align:centerwidth:30%;float:right;margin:5px">
  <div style="margin:5px">
    <u><%= @group.name.capitalize%>'s Members</u>
    <ul>
      <% unless @group.members.empty?%>
        <% if @group.admin == current_user%>

          <% @group.members.uniq.each do |int| %>
            <li>
              <div style="float:left;width:50%"><%= link_to int.user_name, "/users/#{int.id}" %> </div>
                                      <%=button_to "Reject", "/group_memberships/#{GroupMembership.where(:user_id => int.id).where(:group_id => @group.id).first.group_id}", :method => :delete %>
            </li>
          <% end %>


        <% else %>
          <% @group.members.uniq.each do |int| %>
            <li><%= link_to int.user_name, "/users/#{int.id}" %></liv>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div style="margin:5px">
    <u><%= @group.name.capitalize%>'s Files</u>
    <ul>
      <% unless @group.documents.empty? %>
        <% if @group.is_member? current_user %>
          <% @group.documents.each do |int| %>
            <li><%= link_to int.file_name, "/documents/#{int.id}" %></liv>
          <% end %>
        <% else %>
          <% @group.documents.each do |int| %>
            <li><%= int.file_name %></liv>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if @group.is_member? current_user %>
    <hr style="border-color:black">
    <div>
      Upload File</br>
      <%= form_for @group do |f|%>
        <%= f.file_field :document %></br>
        <%= f.submit 'Upload'%>
      <% end %>
    </div>
  <% end %>
  <% if @group.is_admin?(current_user) && (@group.pending_memberships.count > 0) %>
    <hr style="border-color:black">
    <div>
      Pending Memberships
      <ul>
        <style type="text/css">
          .button_to {float:left;margin:0px}
        </style>
        <% @group.pending_memberships.each do |pm| %>
          <li><div style="float:left"><%= pm.user.user_name %>:</div> 
                                      <%= button_to "Accept","/group_memberships/#{pm.id}?role=#{MembershipRoles.member}", :method=>:put %> 
                                      <%=button_to "Reject", "/group_memberships/#{pm.id}", :method => :delete %>
          </li>
          <hr style="border-color:black;margin:0 0 5px">
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
