<h1>Editing user</h1>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :interests %><br />
      <%= f.select :interests, options_from_collection_for_select(Interest.all, :id, :text, @interest_list),{},{:multiple => true, :size => 5} %>
    </div>
    <div class="field">
      <%= f.label :expertises %><br />
      <%= f.select :expertises, options_from_collection_for_select(Expertise.all, :id, :text, @expertise_list),{},{:multiple => true, :size => 5} %>
    </div>
    <div class="field">
      <%= f.label :institutions %><br />
      <%= f.select :institutions, options_from_collection_for_select(Institution.all, :id, :text, @institution_list),{},{:multiple => true, :size => 5} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
