<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Password hash:</b>
  <%= @user.password_hash %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Tmp password hash:</b>
  <%= @user.tmp_password_hash %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>

<p>
  <b>Expertises:</b>
  <%= @user.expertises %>
</p>

<p>
  <b>Institutions:</b>
  <%= @user.institutions %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
